body {
  background-color: #ffffff;
}

h1 {
  color: black;
  text-align: left;
  font-family: arial;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#box {
  height: 50px;
  max-width: 500px;
  max-height: 250px;
  background-color: blue;
}
